<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <connectionStrings>
  
  <add name="MovieDBEntities" connectionString="metadata=res://*/Entities.MovieDBEntities.csdl|res://*/Entities.MovieDBEntities.ssdl|res://*/Entities.MovieDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MovieDBServer;initial catalog=MovieDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>